body {
    background-color: #d5d5d5;
    background-color:  #656565;
    background-color: #353535;
    font-family:'Courier New', Courier, monospace;

}

/* configure grid template, 2x6 */
.settings-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center;
    gap: 12px;
    max-width: 1250px;
    min-width: 750px;
    margin:0 auto; 
}

/* Style text, border, and background for each setting box */
.setting, select, input {
    text-align: center;
    color: #656565;
    color: #c0ff6b;
    background-color: #d5d5d5;
    background-color: #c0ff6b;
    background-color: #656565;
    border: solid #c0ff6b;
    border-radius: 5px;
    border-width:  0 1px 1px  0;
}

/* Style  */
.setting, button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.25rem;
    /* padding: 10px 0; */
}



.dropdown select, .entry input {
    border: none;
    font-size: 1rem;
    /* outline: none; */
    align-self: center;
    max-width: 100px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

/* Style the input fields and remove default arrows */
.entry input {

    background-color: #555555;
    border-radius: 5px;
    border: 1px solid black;
    border-width: 0 2px 2px 0;
    outline: none;
    appearance: textfield;

}

/* position modbus command setting box and double the size compared to the other settings boxes */
.command {
    grid-column: 2 / 4;

}

.command select {
    max-width: 200px;
}

.start-btn, .stop-btn{
    background-color: #c0ff6b;
    color: black;
    font-size: 3rem;
    align-items: center;
    margin-top: 14px;
    border-radius: 10px;
    border: 2px solid black;
}
.start-btn {
    grid-column: 2 / 4;
}

.start-btn:hover {
    border-color: #c0ff6b;
    border-width: 1px;
    background-color: black;
    color: #c0ff6b;
}

.stop-btn {
    grid-column: 4 / 6;
    background-color: #9e1b32;
    background-color: #c0666b;
    color: black;
}

.stop-btn:hover {
    border-color: #c0666b;
    border-width: 1px;
    background-color: black;
    color: #c0666b;
}


.output-terminal{
    background-color: #555555;
    border: solid black 2px;
    border-radius: 5px;
    max-width: 1250px;
    min-width: 750px;
    height: 100vh;
    margin: 14px auto;
    margin-bottom: 100px;
}

.output-data{
    padding-left: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}

@media (max-width:950px){
/* Add responsive design here */
}
